<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>
<% include ../partials/nav.ejs %>

  <body>






    
    <div class="container d-lg-none">
      <h4 class="alert alert-info text-center" role="alert"> Wind chart history</h4>
      <div class="col-lg-12" role="alert">
        <%-decodeURIComponent(data.dataFull.wind.chart.history.series[0].data) + "</table>" %>
          <%/* 
          = JSON.stringify(data.dataFull.wind.chart.history, null, 2)
          */%>
      </div>
    </div>


  
    <div class="container">
      <div class="alert alert-info text-center" role="alert">
        Info
      </div>
      <div class="col-lg-6">
        <%-decodeURIComponent(data.dataFull.wind.latest) %>


      </div>

      <div class="col-lg-6">
        <%-decodeURIComponent(data.dataFull.tide.latest) %>
      </div>
    </div>


    <div class="container">
      <div class="col-lg-12" role="alert">
        "dataFull.wind"
        <pre><%= JSON.stringify(data.dataFull.wind, null, 2) %></pre>
      </div>
    </div>

    <div class="col-lg-12" role="alert">
      
        <pre><%= JSON.stringify(data.dataFull, null, 2) %></pre>
    </div>
    </div>


  </body>

</html>