<!doctype html>
<html>

<head>

  <% include ../partials/header.ejs %>
</head>
<% include ../partials/nav.ejs %>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



    <div class="jumbotron text-center">
      <div class="container">
      <!--   <a href="/" >
          <div class="compass">
            <div class="direction">
              <p><%=data.dirCard %><span> <%=data.speed %> knts</span></p>
            </div>
            <div class="arrow ne"></div>
          </div>
        </a> -->
        <h1 class="display-1"> 
          <%=data.speed %> knts
        </h1>
        <h2 >
          <%=data.dirCard %> ยบ - <%=data.dir %> ยบ
        </h2>
        <h3 >racha <%=data.gust %> knts</h1>
      
        <p>
          <%=data.date %>
          <%=data.dataFull.dlg_title %>
        </p>

      </div>
    </div>


    
  </body>

</html>